/**
首页样式
 */

@import "navigationBar";

.el-container {
  .el-main {
    width: 80%;
    overflow: hidden;
    margin: 50px auto 0;
    padding: 0;
  }
}

.player {
  z-index: 3;
  //修复mv播放界面悬浮BUG
  //position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}

