//日推歌曲卡片样式
@import "dailyTracksCard";
//私人FM卡片样式
@import "personalFmCard";

@import "base/variables";

.homePage {
  & > div {
    margin-bottom: 50px;
  }

  .home-module {
    min-height: 320px;

    h2 + * {
      margin-top: 20px;
    }
  }

  .fade-slide-enter-active,
  .fade-slide-leave-active {
    transition: opacity .3s ease, transform .3s ease;
  }
  .fade-slide-enter {
    opacity: 0;
    transform: translateY(12px);
  }
  .fade-slide-leave-to {
    opacity: 0;
  }

  .recTracks-personalFM {
    & > .el-col > .wrapper-for-click-event > .el-row {
      width: 100%;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
    }
  }


  //排行榜
  .lists {
    .el-row {
      .el-col {
        .topList {
          padding: 30px;
          padding-bottom: 10px;

          .el-card {
            border: none;

            .img-wrapper {
              border-radius: 8px;
              overflow: hidden;
            }
            .info{
              padding-top: 10px;
              p{
                line-height: 1.2rem;
                margin-bottom: 10px;
                font-size: .8rem;
                color: $font-black-2;
              }
              .listName{
                font: {
                  size: 1.2rem;
                  weight: bold;
                };
                color: $font-black;
              }
            }
          }

        }
      }
    }
  }
}
