@import "base/variables";

.personalFM {
  height: 100%;

  div {
    height: 100%;
  }

  .el-row {
    background-color: $color-main;

    .personal-fm {
      cursor: pointer;

      .el-carousel {
        position: relative;

        .cover-img-base-info {
          display: flex;

          .cover-img {
            flex-shrink: 0;

            .el-image {
              overflow: hidden;
            }
          }

          .base-info {
            box-sizing: border-box;
            flex-grow: 1;
            max-width: 500px;
            $text-size: 3rem;
            padding: 30px 0 0 30px;

            .el-row {
              height: $text-size+1rem;
            }

            .track-name {
              font-size: $text-size;
              font-weight: bold;
              color: $color-theme;
              padding-right: $text-size*2;
              //writing-mode: horizontal-tb;
            }

            .album-name {
              font-size: $text-size/3;
              color: $font-white-1;
            }
          }
        }
      }

      .text-personalFM {
        color: $font-white-1;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 2;
      }

    }
  }
}