/**
全局变量
 */

//THEME-COLOR
$color-theme: #FFFFFF;
$color-theme-sec: #f2f2f4;
$color-main: #8685EF;
$color-main-1: #6c6bee;
$color-ornament: #7FD1AE;

//FONT-COLOR
$font-black: #000000;
$font-black-1: #555555;
$font-black-2: #888888;
$font-white: #FFFFFF;
$font-white-1: #dddddd;
$font-white-2: #a5a0a0;